.page-header.h2= t(:show_act_plan)

%div.form-group
  %label.control-label
    code
  .static_field_normal
    =@act_plan.code
%div.form-group
  %label.control-label
    description
  .static_field_big
    =@act_plan.description
%div.form-group
  %label.control-label
    target
  .static_field_normal
    =@act_plan.target_full_title

= link_to t(:edit), edit_act_plan_path(@act_plan), class:"btn btn-primary"
= link_to t(:back), act_plans_path, class:"btn btn-danger pull-right"
