%h1 Editing Collective Decision Update
= render 'form', collective_decision_update: @collective_decision_update
= link_to 'Show', @collective_decision_update
|
= link_to 'Back', collective_decision_updates_path
